@model int

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="text-primary">Payment Successfully</h1>

            <p class="fs-5">Your Order Number: @Model</p>

            <div class="my-4">
                <img src="~/images/hinh-anh-cuon-sach-dep-1.jpg"
                     class="img-fluid rounded shadow"
                     style="max-width: 500px;"
                     alt="Product Image" />
            </div>

            <p class="fs-5" style="color: maroon;">
               Payment has been applied successfully
            </p>
            <a asp-area="Admin" 
            asp-controller="Order"
            asp-action="Details" 
            asp-route-orderId="@Model" class="btn btn-primary">Back to order details</a>
        </div>
    </div>
</div>
